*.pyc
.idea/
.vscode/
.settings/
.venv/
env/

.dev
deployments/

configurations/
.yml

*.db
*.sqlite
documents/
tmp/
.env
venv/


src/feature_store
src/feature_upload
src/ai_models

.ipynb_checkpoints
.mypy_cache
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
docs_build
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
*.log

# celery beat schedule file
src/celerybeat-schedule

staticfiles/