{% load static i18n %}
<!-- BRAND-LOGO-AREA START -->
<div class="brand-logo-area pt-80 pb-40">
    <div class="product-area-container container">
        <div class="brand" dir="ltr">
            <div class="brand-slider">
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=g-tab" target="_blank">
                        <img src="{% static 'assets/img/brand/g-tab.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=honor" target="_blank">
                        <img src="{% static 'assets/img/brand/honor.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=infinix" target="_blank">
                        <img src="{% static 'assets/img/brand/infinix.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=nokia" target="_blank">
                        <img src="{% static 'assets/img/brand/nokia.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=realme" target="_blank">
                        <img src="{% static 'assets/img/brand/realme.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=samsung" target="_blank">
                        <img src="{% static 'assets/img/brand/samsung.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=tecno" target="_blank">
                        <img src="{% static 'assets/img/brand/tecno.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
                <div class="single-brand">
                    <a href="{% url 'product_list' %}?brand=xiaomi" target="_blank">
                        <img src="{% static 'assets/img/brand/xiaomi.jpeg' %}" alt="" width="100" height="50" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BRAND-LOGO-AREA END -->
