{% load static %}
{% if paginated_list.has_other_pages %}
    <div class="flex items-center gap-[20px] pt-[60px] justify-center text-[16px]">
        {% if paginated_list.has_previous %}
            <a href="?page={{ paginated_list.previous_page_number }}" class="hover:text-edpurple"><i class="fa-solid fa-arrow-left-long"></i></a>
        {% else %}
            <span><i class="fa-solid fa-arrow-left-long text-[#d9d9d9]"></i></span>
        {% endif %}
        
        <div class="ed-pagination flex gap-[10px] items-center">
            {% for num in paginated_list.paginator.page_range %}
                {% if paginated_list.number == num %}
                    <a href="?page={{ num }}" class="border border-[#d9d9d9] rounded-full w-[50px] h-[50px] flex items-center justify-center text-etBlack hover:bg-edpurple hover:border-edpurple hover:text-white active">{{ num }}</a>
                {% else %}
                    <a href="?page={{ num }}" class="border border-[#d9d9d9] rounded-full w-[50px] h-[50px] flex items-center justify-center text-etBlack hover:bg-edpurple hover:border-edpurple hover:text-white">{{ num }}</a>
                {% endif %}
            {% endfor %}
        </div>
        
        {% if paginated_list.has_next %}
            <a href="?page={{ paginated_list.next_page_number }}" class="hover:text-edpurple"><i class="fa-solid fa-arrow-right-long"></i></a>
        {% else %}
            <span><i class="fa-solid fa-arrow-right-long text-[#d9d9d9]"></i></span>
        {% endif %}
    </div>
{% endif %}