{% load static i18n %}
<section class="slider-area slider-style-2">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="{% static 'assets/img/slider/slider-2/banner-19200.jpg' %}" alt="" title="#slider-direction-1"
                width="1920" height="800" />
            <img src="{% static 'assets/img/slider/slider-2/banner-19200.jpg' %}" alt="" title="#slider-direction-2"
                width="1920" height="800" />
            <img src="{% static 'assets/img/slider/slider-2/banner-19200.jpg' %}" alt="" title="#slider-direction-3"
                width="1920" height="800" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <div class="layer-1">
                        <!-- All text content removed -->
                    </div>
                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <div class="layer-1">
                        <!-- All text content removed -->
                    </div>
                </div>
            </div>
        </div>
        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <div class="layer-1">
                        <!-- All text content removed -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>