{% extends 'base.html' %}
{% load static i18n humanize %}
{% block title %}{% trans "About" %}{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{% trans "About" %}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li>{% trans 'About' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area  pt-80 pb-80">
    <div class="container">	
        <div class="about-us bg-white">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-photo">
                        <img src="{% static 'assets/img/bg/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-brief bg-dark-white">
                        <h4 class="title-1 title-border text-uppercase mb-30">{% trans "About Us" %}</h4>
                        {% if LANGUAGE_CODE == 'en' %}
                        <p>At Aser Al Nafidha Company, we specialize in providing the latest mobile phones and high-quality accessories to meet the ever-evolving needs of our customers. Also we are realme distributors in the region.</p>
                        <p>We offer a wide selection of smartphones from leading global brands, along with a carefully curated range of original and certified accessories — including headphones, chargers, phone cases, screen protectors, and more.</p>
                        <p>Our mission is to deliver top-tier products, competitive prices, and excellent customer service. Whether you’re shopping retail or wholesale, we also provide after-sales support and professional repair services through our experienced technical team.</p>
                        <p>Our vision is to be the first choice for smartphone and tech enthusiasts in Iraq, offering a reliable and smooth shopping experience that you can trust.</p>
                        {% elif LANGUAGE_CODE == 'ar' %}
                        <p>نحن في شركة عصر النافذة نُعدّ من الشركات الرائدة في مجال بيع أجهزة الموبايل والإكسسوارات، كما اننا الموزع لمنتجات ريلمي realme, حيث نسعى دائمًا لتقديم أحدث التقنيات وأفضل المنتجات التي تلبي احتياجات عملائنا المتجددة.</p>
                        <p>نوفّر مجموعة واسعة من الهواتف الذكية من مختلف العلامات التجارية العالمية, بالإضافة إلى تشكيلة متميزة من الإكسسوارات الأصلية والمعتمدة مثل السماعات، الشواحن، الكفرات، حمايات الشاشة، وغيرها الكثير.</p>
                        <p>نلتزم بالجودة العالية، الأسعار التنافسية، وخدمة العملاء المتميزة، كما نوفّر خيارات متعددة للبيع بالتجزئة والجملة، بالإضافة إلى خدمات ما بعد البيع والصيانة عبر فريق متخصص وذو خبرة.</p>
                        <p>رؤيتنا هي أن نكون الخيار الأول لعشاق التقنية ومحبي الهواتف الذكية في العراق والمنطقة، من خلال توفير تجربة تسوّق موثوقة وسهلة.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block extra_js %}
{% endblock extra_js %}
