{% extends 'base.html' %}
{% load static i18n humanize %}
{% block title %}{% trans "About" %}{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{% trans "About" %}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li>{% trans 'About' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area  pt-80 pb-80">
    <div class="container">	
        <div class="about-us bg-white">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-photo">
                        <img src="{% static 'assets/img/bg/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-brief bg-dark-white">
                        <h4 class="title-1 title-border text-uppercase mb-30">{% trans "About Us" %}</h4>
                        <p>Phone Shop is an online store that sells mobile phones and accessories. we sell many popular brands such as RealMe Phone, Samsung, Oppo, Vivo, Xiaomi, and Apple. Our store is located in Iraq, Baghdad, and our goal is to provide the best products and services to our customers.</p>
                        <p>We are a team of passionate and dedicated individuals who are committed to providing the best possible experience for our customers. We believe in the importance of quality, and we only sell products that meet our high standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block extra_js %}
{% endblock extra_js %}
