{% extends 'base.html' %}
{% load static i18n humanize %}
{% block title %}{% trans "About" %}{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{% trans "About" %}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li>{% trans 'About' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us-area  pt-80 pb-80">
    <div class="container">	
        <div class="about-us bg-white">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-photo">
                        <img src="{% static 'assets/img/bg/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-brief bg-dark-white">
                        <h4 class="title-1 title-border text-uppercase mb-30">about hurst</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn aliqua. Ut enim ad minim veniam, ommodo consequa.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia is be deserunt mollit anim id est laborum.</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit. voluptatem accusantium doloremque laudantium, totam remes aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block extra_js %}
{% endblock extra_js %}
