{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" dir="{{ LANGUAGE_BIDI|default:'ltr' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Electronic Shop{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.svg' %}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/lib/css/nivo-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/lib/css/preview.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/material-design-iconic-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/shortcode.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <div class="wrapper bg-dark-white">
    {% include 'includes/header.html' %}
    {% block body %}{% endblock body %}
    {% include 'includes/footer.html' %}
    </div>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.treeview.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/lib/js/jquery.nivo.slider.js' %}"></script>
    <script src="{% static 'assets/lib/home.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'assets/js/countdon.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.min.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>