{% extends 'base.html' %}
{% load static i18n humanize %}
{% block title %}{% trans "Contact" %}{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}
<div class="heading-banner-area overlay-bg" style="background-image: url({% static 'assets/img/bg/phone-store-location.jpg' %});background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{% trans "Contact" %}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                            <li>{% trans 'Contact' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-us-area  pt-80 pb-80">
    <div class="container">	
        <div class="contact-us customer-login bg-white">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="contact-details">
                        <h4 class="title-1 title-border text-uppercase mb-30">{% trans "Contact Details" %}</h4>
                        <ul>
                            <li onclick="window.open('https://www.google.com/maps/search/?api=1&query=33.3279917,44.4575916', '_blank');" style="cursor: pointer;background: none; border: none; padding: 0;">
                                <i class="zmdi zmdi-pin"></i>
                                {%if LANGUAGE_CODE == 'en' %}
                                8FH5+52W, Baghdad, Baghdad Governorate, Iraq
                                {% else %}
                                بغداد زيونة شارع الربيعي بناية العربية مجاور بناية دولي<br>العراق، بغداد
                                {% endif %}
                            </li>
                            <li>
                                <i class="zmdi zmdi-phone"></i>
                                <span>07838707788</span>
                                <span>07722228068</span>
                            </li>
                            <li>
                                <i class="zmdi zmdi-email"></i>
                                <span>info@easr-alnaafidhih.com</span>
                            </li>
                        </ul>
                    </div>
                    {% comment %}
                    <div class="send-message mt-60">
                        <form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
                            <h4 class="title-1 title-border text-uppercase mb-30">send message</h4>
                            <input type="text" name="con_name" placeholder="Your name here...">
                            <input type="text" name="con_email" placeholder="Your email here...">
                            <textarea class="custom-textarea" name="con_message" placeholder="Your comment here..."></textarea>
                            <button class="button-one submit-button mt-20" data-text="submit message" type="submit">submit message</button>
                            <p class="form-message"></p>
                        </form>
                    </div>
                    {% endcomment %}
                </div>
                <div class="col-lg-8 col-md-7 mt-xs-30">
                    <div class="map-area">
                        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
                        <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
                        <div id="osm-map" style="height: 400px;"></div>
                        <script>
                        var element = document.getElementById('osm-map');

// Height has to be set. You can do this in CSS too.
element.style = 'height:300px;';

// Create Leaflet map on map element.
var map = L.map(element);

// Add OSM tile layer to the Leaflet map.
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Target's GPS coordinates.
var target = L.latLng('33.3279917', '44.4575916'); // 33.3279917!4d44.4575916

// Set map's center to target with zoom 14.
map.setView(target, 14);

// Place a marker on the same location.
L.marker(target).addTo(map);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block extra_js %}
{% endblock extra_js %}
